.heading{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
}
.form-custom{
    -webkit-box-shadow: -2px 4px 56px 0px rgba(97,97,97,1);
    -moz-box-shadow: -2px 4px 56px 0px rgba(97,97,97,1);
    box-shadow: -2px 4px 56px 0px rgba(97,97,97,1);
    background-color: white;
    /* background-color: rgb(1,0,0,0.5); */
    /* margin: 0 auto; */
	flex:auto;
    padding: 30px;
    top: 210px;
    left: 680px; 
    border-radius: 10px;
}
form{
    margin: 0 auto;
}
.form-align{
    
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 20px;
}
.btn-custom{
    background-color: #2c7fb8;
    color: white;
    font-size: 18px;
    display: flex;
    
    justify-content: center;
}
mat-spinner {
    margin: auto;
  }