<div  >
    <div class="container mt-5">
            <mat-spinner *ngIf="isLoading"></mat-spinner>
        <div class="heading">
        <h3 class="">
            Update Task
        </h3>
        </div>
    <div class="row justify-content-center">
        <div class="col-sm-10">
    <div class="animated bounceIn slow form-custom" >
    <form #taskForm="ngForm" novalidate (ngSubmit)="onUpdateTask(taskForm)" class="form-align">
        <div class="form-group row justify-content-center">
        
            <label for="taskname" class="col-sm-2 col-form-label mt-2">Task name</label>
            <div class="col-sm-6">
                <input type="text" #taskname="ngModel" readonly
                    class="form-control mt-2" name="taskname" id="taskname" 
                    [(ngModel)]="task.taskname">
                
            </div>
        </div>
        <div class="form-group row justify-content-center" >
            <label for="taskdescription" class="col-sm-2 col-form-label mt-2">Task description</label>
            <div class="col-sm-6">    
            <textarea type="text" #taskdescription="ngModel" 
                class="form-control mt-2" name="taskdescription" placeholder="Enter task description" id="taskdescription"
                [(ngModel)]="task.taskdescription" row="3"></textarea>
            </div>
        </div>

        <div class="form-group row justify-content-center ">
            <label for="taskstatus" class="col-sm-2 col-form-label mt-2">Task Status</label>
            <div class="col-sm-6 ">
                <select (blur)="validatestatusdropdown(statusdropdown.value)" (change)="validatestatusdropdown(statusdropdown.value)"
                    name="taskstatus" class="custom-select" [(ngModel)]="task.taskstatus"
                    #taskstatus="ngModel" [class.is-invalid]="statusdropdownHasError && taskstatus.touched" required>
                    <option value="select">Select Task Status</option>
                    <option *ngFor="let dropdown of statusdropdown">{{ dropdown }}</option>
                </select>
                <span class="text-danger" [class.d-none]="!statusdropdownHasError || taskstatus.untouched">Please choose task status</span>
            </div>
        </div>
        <div class="form-group row justify-content-center ">
            <label for="taskpriority" class="col-sm-2 col-form-label mt-2">Task Priority</label>
            <div class="col-sm-6 ">
                <select 
                    name="taskpriority" class="custom-select" [(ngModel)]="task.taskpriority"
                    #taskpriority="ngModel" >
                    <option value="select">Select Task Priority</option>
                    <option *ngFor="let priority of prioritydropdown">{{ priority }}</option>
                </select>
                <!-- <span class="text-danger" [class.d-none]="!statusdropdownHasError || taskstatus.untouched">Please choose task status</span> -->
            </div>
        </div>

        <div class="form-group row justify-content-center">
            <label for="taskstartdate" class="col-sm-2 col-form-label mt-2">Task start date</label>
            <div class="col-sm-6">
            <input type="text"  #taskstartdate="ngModel" readonly
            class="form-control mt-2" name="taskstartdate" id="taskstartdate"
               [(ngModel)]="task.taskstartdate" >
            
            </div>
        </div>
        <div class="form-group row justify-content-center">
            <label for="taskduedate" class="col-sm-2 col-form-label mt-2">Task end date</label>
            <div class="col-sm-6">
            <input type="text" placeholder="Enter task end date" #taskduedate="ngModel" 
            class="form-control mt-2" name="taskduedate" readonly
            id="taskduedate" [(ngModel)]="task.taskduedate" 
            [bsConfig]="datePickerConfig" bsDatepicker [bsConfig]="{ isAnimated: true }" required>
             
            </div>
        </div>
        
        <div class="form-group row justify-content-center">
        <button mat-raised-button type="submit" 
            [disabled]="taskForm.form.invalid || statusdropdownHasError" class="btn btn-custom">
            Update
        </button>
        </div>
    </form>
    </div>
    </div>
</div>
</div>
</div>