
<div class="container">
    <div class="add-icon" (click)="goToCreateTask()">
        <span><i class="material-icons icon-custom" matTooltipPosition="above" matTooltip="Create new Task" >
            add
        </i></span>
    </div>
    <!-- [routerLink]="['/project',task._id,/task/create-task]" -->
        <div class="row row-header">
            <mat-card class="col-sm todo">TO DO</mat-card>
            <mat-card class="col-sm in-process">IN PROCESS</mat-card>
            <mat-card class="col-sm done">DONE</mat-card>
        </div>
        <div class=""  >
        <div class="row" cdkDropListGroup>   
            <div class="col-sm bg-color row-eq-height example-container">
                <ul cdkDropList [cdkDropListData]="tasks" class="example-list" (cdkDropListDropped)="drop($event)">
                <ng-container *ngFor="let task of tasks" >            
                <li class="card-display" *ngIf="task.taskstatus == 'To Do'" id="list">
                <div class="card m-2" style="width: 14rem;" cdkDrag>
                    <div class="card-header" >
                        <h6 class="card-title mr-auto" id="taskName">{{ task.taskname }}</h6>
                    <span class="card-menu  ml-auto" [matMenuTriggerFor]="beforeMenu"><i class="material-icons">menu_open</i></span>
                    <mat-menu #beforeMenu="matMenu" xPosition="before">
                        <button mat-menu-item [routerLink]="['/kanban-board/update-task', task._id]">Update Task</button>
                        <button mat-menu-item>Delete Task</button>
                    </mat-menu>
                    </div>
                    <div class="card-body">
                        <p class="card-text m-1">         
                            Status: {{task.taskstatus}}<br>
                            Start Date: {{task.taskstartdate  | date: 'shortDate' }}<br>
                            End Date: {{task.taskduedate  | date: 'shortDate' }}
                        </p>
                    </div>
                </div>
                </li>
                </ng-container>
                </ul>
            </div>     
            <div class="col-sm bg-color row-eq-height" id="In-Process" >
                <ul cdkDropList [cdkDropListData]="tasks" class="example-list" (cdkDropListDropped)="drop($event)">
                    <ng-container *ngFor="let task of tasks"> 
                    <li class="card-display" *ngIf="task.taskstatus == 'In Process'">
                    <div class="card m-2" style="width: 14rem;" cdkDrag>
                        <div class="card-header" >
                            <h6 class="card-title mr-auto" id="taskName">{{ task.taskname }}</h6>
                        <span class="card-menu  ml-auto" [matMenuTriggerFor]="beforeMenu"><i class="material-icons">menu_open</i></span>
                        <mat-menu #beforeMenu="matMenu" xPosition="before">
                            <button mat-menu-item [routerLink]="['/kanban-board/update-task', task._id]">Update Task</button>
                            <button mat-menu-item>Delete Task</button>
                        </mat-menu>
                        </div>
                        <div class="card-body">
                            <p class="card-text m-1">
                                Status: {{task.taskstatus}}<br>
                                Start Date: {{task.taskstartdate  | date: 'shortDate'}}<br>
                                End Date: {{task.taskduedate  | date: 'shortDate'}}
                            </p>
                        </div>
                    </div>
                    </li>
                    </ng-container>
                </ul>
            </div>
            <div class="col-sm bg-color row-eq-height" id="done">
                <ul cdkDropList [cdkDropListData]="tasks" class="example-list" (cdkDropListDropped)="drop($event)">
                    <ng-container *ngFor="let task of tasks"> 
                    <li class="card-display" *ngIf="task.taskstatus == 'Done'">
                    <div class="card m-2" style="width: 14rem;" cdkDrag>
                        <div class="card-header" >
                            <h6 class="card-title mr-auto" id="taskName">{{ task.taskname }}</h6>
                        <span class="card-menu  ml-auto" [matMenuTriggerFor]="beforeMenu"><i class="material-icons">menu_open</i></span>
                        <mat-menu #beforeMenu="matMenu" xPosition="before">
                            <button mat-menu-item [routerLink]="['/kanban-board/update-task', task._id]">Update Task</button>
                            <button mat-menu-item>Delete Task</button>
                        </mat-menu>
                        </div>
                        <div class="card-body">
                            <p class="card-text m-1">
                                Status: {{task.taskstatus}}<br>
                                Start Date: {{task.taskstartdate  | date: 'shortDate'}}<br>
                                End Date: {{task.taskduedate  | date: 'shortDate'}}
                            </p>
                        </div>
                    </div>
                    </li>
                    </ng-container>
                </ul>
            </div>
        </div>
        </div>
    </div>
    
    
    <!-- <div class="bg-image">
        <div><h2 class="text-white p-5 text-center">KanBan Board</h2></div>
        <div class="container-fluid" *ngIf="userStories">
            <div class="kanban-col" [dragula]='"kanban-bag"' id="analysis">
                <div class="kanban-col-header"><h2>To Do list</h2></div>
                <div class="user-story" *ngFor="let us of userStories | kanbanState:'analysis'" id="{{us.id}}">
                {{us.title}}
                </div>
            </div>
            <div class="kanban-col" [dragula]='"kanban-bag"' id="ready-for-dev">
                <div class="kanban-col-header"><h2>In Progress</h2></div>
                <div class="user-story" *ngFor="let us of userStories | kanbanState:'ready-for-dev'" id="{{us.id}}">
                {{ us.title }}
                </div>
            </div>
            <div class="kanban-col" [dragula]='"kanban-bag"' id="in-dev">
                <div class="kanban-col-header"><h2>Done</h2></div>
                <div class="user-story" *ngFor="let us of userStories | kanbanState:'in-dev'" id="{{us.id}}">
                {{ us.title }}
                </div>
            </div>
        </div> 
    </div> -->
    <!-- 
    <header>
        <h1 class="p-3">Kanban Board</h1>
    </header>
    <main class="main-container">
        <ul class="columns">
            <li class="column to-do-column">
                <div class="column-header">
                  <h4>To Do</h4>
                </div>
                <ul class="task-list" id="to-do">
                    <li class="task">
                        <p>Analysis</p>
                    </li>
                    <li class="task">
                        <p>Coding</p>
                    </li>
                    <li class="task">
                        <p>Card Sorting</p>
                    </li>
                    <li class="task">
                        <p>Measure</p>
                    </li>
                </ul>
            </li>
          
            <li class="column doing-column">
                <div class="column-header">
                  <h4>In Process</h4>
                </div>
                <ul class="task-list" id="doing">
                  <li class="task">
                    <p>Hypothesis</p>
                  </li>
                  <li class="task">
                    <p>User Testing</p>
                  </li>
                  <li class="task">
                    <p>Prototype</p>
                  </li>
                </ul>
            </li>
          
            <li class="column done-column">
                <div class="column-header">
                  <h4>Done</h4>
                </div>
                <ul class="task-list" id="done">
                  <li class="task">
                    <p>Ideation</p>
                  </li>
                  <li class="task">
                    <p>Sketches</p>
                  </li>
                </ul>
            </li>
        
        </ul>
    </main> -->
    
       
    