.container {
    padding: 15px;
   }
   .col-sm.bg-color {
     margin: 8px;
     border-radius: 5px;
     display: flex;
     background-color: white;
     height: 600px;
     padding: 0px;
     overflow: scroll;
 }
 .row-header{
   margin-top: 25px;
 }
 .col-sm{
     margin: 8px;
     border-radius: 5px;
 }
 .row {
     margin: -15px;
     padding: 0px;
 }
 .row-eq-height {
     display: -webkit-box;
     display: -webkit-flex;
     display: -ms-flexbox;
     display:         flex;
 }
 mat-card.mat-card.todo {
     height: 50px;
     width: 364px;
     text-align: center;
     font-size: 20px;
     color: white;
     font-size: 18px;
     background-color: #ef8a62;
    
 }
 mat-card.mat-card.in-process {
     height: 50px;
     width: 364px;
     font-size: 20px;
     color: white;
     text-align: center;
     background-color:#fec44f;
    
 }
 mat-card.mat-card.done {
     height: 50px;
     width: 364px;
     font-size: 20px;
     color: white;
     text-align: center;
     background-color:#31a354;
    
 }
 /* drag drop */
 ul {
   list-style: none;
 }
 li.card-display {
   margin-top: 15px;
   margin-bottom: 15px;
 }
 .card-display{
   box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.05),
   0 3px 14px 2px rgba(0, 0, 0, 0.05);
 }
 .cdk-drag-preview {
   box-sizing: border-box;
   border-radius: 4px;
   box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
               0 8px 10px 1px rgba(0, 0, 0, 0.14),
               0 3px 14px 2px rgba(0, 0, 0, 0.12);
 }
 
 .cdk-drag-placeholder {
   opacity: 0;
 }
 
 .cdk-drag-animating {
   transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
 }
 
 .example-list.cdk-drop-list-dragging .card-display:not(.cdk-drag-placeholder) {
   transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
 }
 .add-icon{
  height: 100%;
display: flex;
align-items: center;
justify-content: center;
margin-bottom: 40px;
}
.icon-custom{
  -webkit-box-shadow: -2px 4px 56px 0px rgba(97,97,97,1);
  -moz-box-shadow: -2px 4px 56px 0px rgba(97,97,97,1);
  box-shadow: -2px 4px 56px 0px rgba(97,97,97,1);   
  font-size: 45px;
  border-radius: 50px;
  margin-top: 20px;
  margin-bottom: 15px;
}
.card-header{
  display: -webkit-inline-box;
}
i.material-icons {
  cursor: pointer;
}