/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
html, body { height: 100%; }
html, body { margin: 0; font-family: 'Lato', sans-serif; font-size: 20px;
}
body{
    /* background-color: #e0f3db; */
    background: url(http://api.thumbr.it/whitenoise-361x370.png?background=#e0f3dbff&noise=000000&density=20&opacity=16);
}

html, body { height: 100%; }
/* body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */
