<nav class="navbar navbar-expand-sm" id="main-nav" role="navigation" aria-label="Main">
    <a href="#" class="navbar-brand">The Kanban board</a>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarMenu" >
        <ul class="navbar-nav ml-auto" >
            <li class="nav-item" *ngIf="!userIsAuthenticated == linkDisable" >
                <a href="#" class="nav-link" data-toggle="modal" data-target="#loginModal" (click)="openModal(loginTemplate)"
                routerLink="/login" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Login</a>
            </li>
            <li class="nav-item" *ngIf="!userIsAuthenticated == linkDisable">
                <a href="#" class="nav-link" data-toggle="modal" data-target="#registerModal" (click)="openModal(registerTemplate)"
                routerLink="/register" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Register</a>
            </li>
            
        </ul>
        <ul class="nav navbar-nav " *ngIf="userIsAuthenticated">
            <button class="btn" (click)="onLogout()">Logout </button>
        </ul>
    </div>
    
</nav>
<router-outlet></router-outlet>
<!-- <nav class="navbar navbar-expand-sm navbar-2" *ngIf="userIsAuthenticated">
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown" >
        <ul class="navbar-nav ml-auto" >
            <li class="nav-item" >
                <a href="#" class="nav-link" routerLink="/dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                    Go to Dashboard
                </a>
            </li> -->
            <!-- <li class="nav-item" >
                <a href="#" class="nav-link iteractive" routerLink="/iteractive-form" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                    Iteractive form
                </a>
            </li>  -->
            <!-- <li class="nav-item" >
                <a href="#" class="nav-link"  routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                    Kanban Board
                </a>
            </li>
            <li class="nav-item" >
                <a href="#" class="nav-link" routerLink="/project/create-project" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                    Create Project
                </a>
            </li>
            <li class="nav-item" >
                <a href="#" class="nav-link"  routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                    Update Project
                </a>
            </li>
            <li class="nav-item" >
                <a href="#" class="nav-link" [routerLink]=""  routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                    Create Task
                </a>
            </li>
            <li class="nav-item" >
                <a href="#" class="nav-link" routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                    Update Task
                </a>
            </li> -->
            <!-- <li class="nav-item dropdown ml-2 mr-2" >
                <button class="btn dropdown-toggle" id="navbarDropdownMenuLink" type="button" data-toggle="dropdown" aria-haspopup="true" 
                    aria-expanded="false" >
                    Project
                </button>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#" >Create Project</a>
                    <a class="dropdown-item" href="#">Update Project</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown" 
                    routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                    Task
                </a>
                <div class="dropdown-menu" >
                    <a class="dropdown-item" href="#">Create Task</a>
                    <a class="dropdown-item" href="#">Update Task</a>
                </div>
            </li>  -->
        <!-- </ul>
</div>
</nav>  -->



<ng-template #loginTemplate>
    <app-login></app-login>
</ng-template> 
<ng-template #registerTemplate>
    <app-register></app-register>
</ng-template> 

     

