<mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
    <mdb-carousel-item>
      <img class="d-block w-100" src="assets/images/img-1.jpeg" alt="First slide">
    </mdb-carousel-item>
    <mdb-carousel-item>
      <img class="d-block w-100" src="assets/images/img-2.jpeg" alt="Second slide">
    </mdb-carousel-item>
    <mdb-carousel-item>
      <img class="d-block w-100" src="assets/images/img-3.jpeg" alt="Third slide">
    </mdb-carousel-item>
</mdb-carousel>

<!-- Tab -->

<div class="container-fluid">

  <div class="row">
    <div class="col-xs-12 ">
      
      <nav>
        <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist" >
          <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="what is kanban" aria-labelledby="What is kanban" aria-selected="true">What is Kanban?</a>
          <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="principals" aria-labelledby="principals" aria-selected="false">Principals</a>
          <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="practices" aria-labelledby="practices" aria-selected="false">Practices</a>
        </div>
      </nav>
      <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
        <div class="tab-pane show active m-5" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
          The word Kanban is literally translated from the Japanese as a shield or visual signal. Kanban is a work management 
          method that originated from the Toyota Production System for lean production. The main purpose of this method is to 
          minimize activities that lead to losses without affecting productivity. The kanban board has three columns: <br>
          <b>•	Requested</b><br>
         <b>•	In Progress</b><br>
         <b> •	Completed</b><br>
          If properly set up and used, the board serves as an information hub that shows where the bottlenecks are and what hampers 
          the smooth flow of the workflow.
        </div>
        <div class="tab-pane fade m-5" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
          The word Kanban is literally translated from the Japanese as a shield or visual signal. Kanban is a work management 
          method that originated from the Toyota Production System for lean production. The main purpose of this method is to 
          minimize activities that lead to losses without affecting productivity.<br>
          <b>Principle 1: Start with what you are doing now</b><br>
          <b>Principle 2: Track incremental, evolutionary changes</b><br>
          <b>Principle 3: Consider current processes, roles & responsibilities</b><br>
          <b>Principle 4: To encourage leadership responsibility at all levels</b>
        </div>
        <div class="tab-pane fade m-5" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
          The word Kanban is literally translated from the Japanese as a shield or visual signal. Kanban is a work management 
          method that originated from the Toyota Production System for lean production. The main purpose of this method is to 
          minimize activities that lead to losses without affecting productivity.<br>
          <b>Practice 1 - Visualize the workflow</b><br>
          <b>Practice 2 - Limit ongoing work.</b><br>
          <b>Practice 3 - Workflow Management.</b><br>
          <b>Practice 4 – making process policies explicit</b><br>
          <b>Practice 5 – implementing feedback loops</b><br>
          <b>Practice 6 – improving collaboratively, evolving experimentally (using models and the scientific method)</b>
        </div>
      </div>
    </div>
  </div>

</div>

