<div class="container">
    <div class="row ">
    <div class="col-sm-4" *ngFor="let project of projects; let i = index"   
        [routerLink]="['/kanban-board', project._id]">
        <div class="card " style="width: 18rem;">
            <div class="card-header" >{{ project.projectname }}</div>
            <h6  class="card-subtitle" id="projectid" [hidden]=true>{{project._id}}</h6>
        <div class="card-body" >
               
            <p class="card-text">
                Start Date: {{project.projectstartdate}} <br>
                End Date: {{project.projectduedate}}
            </p>
        </div>
        </div>
    </div>
    </div>  
</div>